@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
    border: 0;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: hsl(0, 0%, 95%);
    Font-size: 15px;
    margin: 20px;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.sedans {
    background-color:hsl(31, 77%, 52%);
    padding: 3em;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.suvs {
    background-color: hsl(184, 100%, 22%);
    padding: 3em;
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    padding: 3em;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.text {
    width: 210px;
    line-height: 23px;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    padding-top: 1em;
    color: hsl(0, 0%, 95%);
}

p {
    font-family: 'Lexend Deca', sans-serif;
    padding-top: 2em;
    color: hsla(0, 0%, 100%, 0.75);
}

.btn-1 {
    color: hsl(31, 77%, 52%);
}

.btn-2 {
    color: hsl(184, 100%, 22%);
}

.btn-3 {
    color: hsl(179, 100%, 13%);
}

button {
    cursor: pointer;
    margin-top: 6em;
    height: 40px;
    width: 110px;
    border-radius: 50px;
    border: 2px solid hsl(0, 0%, 95%);
    transition: 0.6s;
    font-family: 'Lexend Deca', sans-serif;
}

button:hover {
    background-color: transparent;
    color: hsl(0, 0%, 95%);
}

button:active {
    transform: scale(0.92);
    transition: all 0.2s ease;
}

.attribution {
    font-family: 'Lexend Deca', sans-serif;
    position: absolute;
    top: 95%;
    padding-bottom: 20px;
    font-size: 13px;
}

.attribution a {
    color: hsl(31, 77%, 52%);
}